@import './toolkit.less';
@import './variables.less';
@import './iconfont.less';

.dialog-demo {
  .weui-dialog {
    width: 90%;
    max-width: none;
    max-height: 400px;
    padding: 15px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
}

button.weui-btn {
  height: 50px;
  line-height: 50px;
}
button.weui-btn_mini {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

